# ignore everything in the root except the "wp-content" directory.
.idea
wp-admin
wp-includes

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory



# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log

*.sqlite
/.htaccess
/wp-blog-header.php
/wp-login.php
/wp-mail.php
/index.php
/wp-config.php
/wp-settings.php
/license.txt
/wp-trackback.php
/wp-load.php
/readme.html
/wp-signup.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-comments-post.php
/wp-activate.php
/xmlrpc.php
