// ** variables
$red:#6f0d33;
$background-gray: #efefef;


// ** Common styles
body {
  overflow-x: hidden;
}


*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}


.container {
  width: 1140px;
  margin: 0 auto;
  //height: 100%;
}
.container-wide {
  width: auto;
  margin: 0 auto;
}

// Order red button  from laser page
 .laser-btn-order {
   text-decoration: none;
   background-color: $red;
   color:#fff;
   padding: 16px 50px;
   &:hover {
     background: lighten($red,10%);
     box-shadow: 4px 4px 8px 0px rgba(82, 11, 27, 0.2);
     transition: all 0.3s linear;

   }
  }
// *********************************

// fade block for modals **************
.fade {
  display: none;
  position: fixed;
  top: 112px;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 100%;
  background-color: rgba(92,92,92,.8);
}