// ** variables
$red:#6f0d33;
$background-gray: #efefef;


// ** Common styles
body {
  overflow-x: hidden;
}


*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}


.container {
  width: 1140px;
  margin: 0 auto;
  //height: 100%;
}
.container-wide {
  width: auto;
  margin: 0 auto;
}

// Order red button  from laser page
 .laser-btn-order {
   text-decoration: none;
   background-color: $red;
   color:#fff;
   padding: 16px 50px;
  }

// *********************************