@media (max-width: 1170px) {

  // Header
  .header__top-content {
    padding: 0 22px 0 25px;
    .header__address-wrapper, .header__email-wrapper {
      display: none;
    }
    .header__meta_tablet {
      display: flex;
      flex-direction: column;
      padding-top: 15px;
    }
  }
  .nav-wrapper {
    .top-menu-desktop {
      #menu-top {
        &>li {
          &:last-child {
            &>a {
              padding-right: 20px;
            }
          }
        }
        li {
          &.separate {
            &:first-child {
              flex-basis: 403px;
            }
            &:nth-child(2) {
              flex-shrink: 0;
              flex-basis: 284px;
            }
            &>.sub-menu {
              padding-left: 28px;
            }
          }
        }
      }
    }
    .top-menu-mobile {
      display: none;
    }
  }

  //Common
  .container {
    width: 1024px;
  }

  // cards wrapper
  body .craft-cards-wrapper {
    justify-content: space-around;
  }
}


@media (max-width: 1090px) {
  .top-slider-wrapper {
    height: 350px;
  }

// Craft block
//  .card-craft {
//    width: 220px;
//    flex-basis: 220px;
//    a img {
//      width: 100%;
//
//    }
//  }
//Stands block
  .stands-block-wrapper {
    padding: 50px 0 0 0;
    .icon-block img {
      position: initial;
      width: 100%;
      height: auto;
    }
    .description-block {
      width: 420px;
      flex-basis: initial;
      h2 {
        font-size: 42px;
      }
    }
  }

  .services-block-wrapper {
    .logo-copy {
      display: none;
    }
    .services-block  {
      width: auto;
      h2 {
        text-align: center;
        width: 54%;
      }
      .icon-cards {
        justify-content: center;
      }
    }
  }

  .akk-menu-content {
    position: absolute;
    left: 400px;
    width: 50%;
    img {
      width: 100%;
    }
  }

  .portfolio-block__content {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: initial;
    .content-big {
      display: flex;
      justify-content: space-between;
      a {
        width: 33%;
        flex-basis: 33%;
        img {
          width: 100%;
        }
      }
    }
    .content-small {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      a {
        width: 16.6%;
        flex-basis: 16.6%;
        img {
          width: 100%;
        }
      }
    }
  }





}
@media (max-width: 1024px) {
  //Craft block
  .craft-cards-wrapper {
    padding: 10px 20px 35px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      text-align: center;
      text-transform: uppercase;
    }
    a h3 {
      margin-top: 10px;
      font-size: 15px;
      font-weight: normal;
    }
  }
  .card-craft {
    width: 228px;
    flex-basis: 228px;
    margin-top: 25px;
  }
  //stands block
  .stands-block-wrapper {
    .icon-block {
      width: 500px;
      padding-bottom: 60px;
    }

    padding: 10px 0 0 0;

    align-items: center;
    .description-block {
      padding-top: 25px;
      width: 430px;
      p {
        margin: 10px 0 10px 0;
        text-align: center;
      }
    }
  }

  //Why us block
  .why-us-block__header {
    p {
      text-align: center;
      //font-weight: 400;
    }
  }
  .why-us-block__content {
    //display: flex;
    //margin-top: 30px;

    .services-list {
      //width: 100%;
      //ul {
      //  display: flex;
      //  flex-direction: column;
      //  padding-right: 0;
      //}
      ul li {
        //text-align: center;
        font-size: 16px;

      }
    }
    //.services-content {
    //  display: none;
    //  width: 100%;
    //  p {
    //    margin: 35px 0 35px 0;
    //  }
    //}
    //.akk-menu-content {
    //  position: absolute;
    //  left: 400px;
    //  width: 50%;
    //  img {
    //    width: 100%;
    //  }
    //}
  }

.footer__content {
  justify-content: space-around;
  flex-wrap: wrap;
}




}





@media (max-width: 1023px) {
  .container {
    width: auto;
  }
}


@media (max-width: 900px) {
  .stands-block-wrapper {

    padding: 10px 0 0 0;
    flex-direction: column;
    align-items: center;
    .description-block {
      p {
        margin: 10px 0 10px 0;
        text-align: center;
      }
    }
  }
  .services-block-wrapper {
    background: url(img/services/services-background.png) 2% no-repeat;
    background-size: cover;
    .services-block  {
      width: auto;
      h2 {
        text-align: center;
        width: 100%;
      }
      //.icon-cards {
      //  justify-content: center;
      //}
    }
  }


  .why-us-block__header {
    p {
      text-align: center;
    }
  }

  .why-us-block__content {
    display: flex;
    margin-top: 30px;

    .services-list {
      width: 100%;
      ul {
        display: flex;
        flex-direction: column;
        padding-right: 0;
      }
      ul li {
        text-align: center;

      }
    }
    .services-content {
      display: none;
      width: 100%;
      p {
        margin: 35px 0 35px 0;
      }
    }
  }
  .akk-menu-item {
    padding: 25px 0 25px 0;
  }
  .akk-menu-content {
    list-style: none;
    position: initial;
    width: 100%;
    padding: 5px;
    img {
      width: 100%;
    }
    p {
      margin: 15px 0 10px 0;
      text-align: center;
    }
  }
}



@media (max-width: 520px) {
  //Craft cards
  .card-craft {
    width: 153px;
    flex-basis: 153px;
    margin-top: 10px;

    a img {
      width: 100%;
    }

    a h3 {
      font-size: 11px;
    }
  }

  //Stands block
  .stands-block-wrapper {
    .icon-block {
      width: 300px;
      padding-bottom: 0;
    }

    .description-block {
      width: 300px;
      flex-basis: initial;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 12px;
      }
    }
  }
  .services-block-wrapper {
    background: url(img/services/services-background.png) 2% no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;

    .services-block {
      width: auto;

      h2 {
        text-align: center;
        font-size: 24px;
        width: 54%;
      }

      h3 {
        font-size: 12px;
      }

      .icon-cards {
        justify-content: center;

        .card {
          width: 145px;
          flex-basis: 145px;
          margin: 42px 25px 0 0;
        }
      }
    }
  }

  .three-steps-block {
    padding: 15px 0 15px 0;

    h2 {
      font-size: 24px;

      span {
        font-size: 24px;
      }
    }
  }


  .three-steps-block__content {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      flex-basis: 100px;
      padding: 0 5px 0 5px;

      .thumbnail {
        width: initial;
        height: initial;
        border-radius: initial;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      h3 {
        margin-top: 10px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
      }

      h4 {
        margin-top: 12px;
      }

      p {
        margin-top: 15px;
        font-size: 10px;
        text-align: center;
      }
    }
  }

  // portfolio block
  .portfolio-block-wrapper {
    padding: 15px 0;
  }

  .portfolio-block__header {
    h2 {
      font-size: 24px;

    }

    p {
      margin: 15px 0 15px 0;
      text-align: center;
      font-size: 12px;
    }
  }


  .portfolio-block__content {

    .content-big {
      .no-mobile {
        display: none;
      }

      a {
        width: 50%;
        flex-basis: 50%;

        img {
          width: 100%;
        }
      }
    }

    .content-small {
      margin-top: 0;

      .no-mobile {
        display: none;
      }

      a {
        width: 25%;
        flex-basis: 25%;

        img {
          width: 100%;
        }
      }
    }
  }
    .footer__content {
      display: none;
    }

  .footer_content_mobile {
    display: flex;
    .footer-nav {
      flex-basis: 50%;
      margin-top: 25px;
    }
    .footer-socials {
      margin-top: 25px;
    }
  }
}

@media (max-width: 360px) {
 .craft-cards-wrapper {
   padding: 0;
 }
  //.no-mobile-footer {
  //  display: none;
  //}
  //.mobile-footer {
  //  display: block;
  //}
}