.special-price-block {
  background: #ebebeb;
  .special-price-container {
    padding: 37px 108px 34px 126px;
    position: relative;
    @media(max-width: 1139px) {
      padding: 37px 76px 30px 42px;
    }
    @media(max-width: 800px) {
      padding: 17px 28px 18px 12px;
    }
  }
  h3 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    @media(max-width: 800px) {
      margin-bottom: 30px;
    }
    span {
      font-size: 37px;
      display: block;
      color: #6f0d33;
      &:first-child {
        margin-bottom: 8px;
      }
      @media(max-width: 800px) {
        display: inline;
        margin: 0 !important;
        font-size: 24px;
      }
    }
  }
  .special-price-content {
    width: 493px;
    position: relative;
    @media(max-width: 800px) {
      width: 311px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .special-price-table {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 38px;
    @media(max-width: 800px) {
      margin-bottom: 24px;
    }
    td {
      border-bottom: 1px solid #959595;
      padding: 6px 0;
      font-size: 19px;
      font-weight: 300;
      @media(max-width: 800px) {
        font-size: 12px;
      }
      &:first-child {
        padding-left: 37px;
        @media(max-width: 800px) {
          padding-left: 21px;
        }
      }
      &:nth-child(2) {
        padding-left: 30px;
        @media(max-width: 800px) {
          padding-left: 18px;
        }
      }
      &:nth-child(3) {
        padding-left: 16px;
        @media(max-width: 800px) {
          padding-left: 10px;
        }
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 87px;
          border-bottom: 1px solid #d52d2f;
          top: 17px;
          right: 5px;
          @media(max-width: 800px) {
            width: 54px;
            top: 13px;
            right: 11px;
          }
        }
      }
      &:nth-child(4) {
        padding-left: 28px;
        font-weight: 500;
        @media(max-width: 800px) {
          padding-left: 14px;
        }
      }
    }
    tr {
      &:first-child {
        td {
          font-weight: normal;
          border-bottom: 1px solid #252525;
          padding-left: 0;
          &:first-child {
            padding-right: 25px;
            @media(max-width: 800px) {
              padding-right: 18px;
            }
          }
          &:nth-child(2) {
            padding-right: 19px;
            @media(max-width: 800px) {
              padding-right: 8px;
            }
          }
          &:nth-child(3) {
            padding-right: 6px;
            color: #d52d2f;
            font-size: 18px;
            text-transform: none;
            &:after {
              display: none;
            }
            span {
              transform: rotate(-19deg);
              display: block;
              transform-origin: 11px 0px;
              @media(max-width: 800px) {
                font-size: 11px;
              }
            }
            @media(max-width: 800px) {
              padding-right: 4px;
            }
          }
        }
      }
    }
  }
  .special-price-containment {
    border: 2px solid #d52d2f;
    padding: 20px 20px 5px 14px;
    position: relative;
    margin-bottom: 28px;
    @media(max-width: 800px) {
      margin-bottom: 16px;
    }
    header {
      position: absolute;
      top: -11px;
      left: 137px;
      background: #ebebeb;
      padding: 0 6px;
      font-size: 19px;
      text-transform: uppercase;
      color: #d52d2f;
      @media(max-width: 800px) {
        font-size: 12px;
        top: -9px;
        left: 82px;
      }
    }
    .special-price-containment__items {
      display: flex;
      justify-content: space-between;
    }
    .special-price-containment__item {
      font-weight: 300;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 3px;
        @media(max-width: 800px) {
          width: 32px;
        }
      }
      span {
        font-size: 14px;
        margin-top: auto;
        @media(max-width: 800px) {
          font-size: 9px;
        }
      }
    }
  }
  .special-price-order-btn {
    text-align: center;
    a {
      display: inline-block;
    }
  }
  .special-price-desc {
    position: absolute;
    position: absolute;
    top: 0;
    left: 541px;
    height: 432px;
    &>img {
      max-height: 100%;
    }
    .special-price-ball {
      position: absolute;
      top: 77px;
      left: 36px;
      img {
        width: 100%;
      }
    }
    @media(max-width: 800px) {
      position: relative;
      top: initial;
      left: initial;
      height: auto;
      &>img {
        width: 100%;
      }
      .special-price-ball {
        top: 52px;
        left: 14px;
        width: 136px;
      }
    }
  }
}

.colors-block {
  padding: 30px 0 40px 0;
  @media(max-width: 1023px) {
    padding: 8px 0 25px 0;
  }
  h3 {
    font-size: 37px;
    color: #6f0d33;
    text-align: center;
    text-transform: uppercase;
    width: 847px;
    margin: 0 auto 16px;
    @media(max-width: 1023px) {
      font-size: 24px;
      width: auto;
      margin: 0 0 12px;
      word-break: keep-all;
      padding: 0 10px;
    }
  }
  h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 300;
    @media(max-width: 1139px) {
      width: 513px;
      margin: 0 auto 16px;
    }
    @media(max-width: 1023px) {
      font-size: 14px;
      margin: 0 0 12px;
      width: auto;
      word-break: keep-all;
      padding: 0 10px;
    }
  }
  .colors-table-content {
    display: flex;
    width: 992px;
    margin: 0 auto 38px;
    @media(max-width: 1023px) {
      display: none;
      flex-direction: column;
      width: auto;
      padding: 0 8px;
      margin-bottom: 20px;
      &.active {
        display: flex;
      }
    }
    &>div {
      width: 8.3%;
      flex: 8.3% 0 0;
      @media(max-width: 1023px) {
        display: flex;
        width: 100%;
        flex: 100% 0 0;
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        @media(max-width: 1023px) {
          flex-direction: row;
        }
        &>div {
          border-right: 2px solid #9da5a5;
          flex-grow: 1;
          @media(max-width: 1023px) {
            border-right: none;
            border-bottom: 2px solid #9da5a5;
            &:last-child {
              border-bottom: 2px solid #9da5a5;
            }
          }
        }
      }
      &>div {
        border: 2px solid #9da5a5;
        border-right: none;
        border-bottom: none;
        height: 82px;
        display: flex;
        align-items: flex-end;
        padding: 0 0 5px 7px;
        @media(max-width: 1023px) {
          flex: 20% 1 1;
          height: 64px;
          align-items: flex-start;
          padding-top: 5px;
        }
        span {
          font-size: 14px;
        }
        &:last-child {
          border-bottom: 2px solid #9da5a5;
          @media(max-width: 1023px) {
            border-right: 2px solid #9da5a5;
            border-bottom: none;
          }
        }
      }
    }
  }
  .colors-order-btn {
    text-align: center;
    a {
      display: inline-block;
    }
  }
  .colors-show-btn {
    display: none;
    text-align: center;
    margin-bottom: 15px;
    @media(max-width: 1023px) {
      display: block;
    }
    a {
      display: inline-block;
      font-weight: 300;
    }
  }
  .white {
    color: #FFFFFF;
  }
  .color-010 {

  }
  .color-020 {
    background: #faa41a;
  }
  .color-019 {
    background: #e6a623;
  }
  .color-021 {
    background: #fdc60c;
  }
  .color-022 {
    background: #f2cc10;
  }
  .color-025 {
    background: #efe312;
  }
  .color-312 {
    background: #751013;
  }
  .color-030 {
    background: #90191c;
  }
  .color-031 {
    background: #b01f23;
  }
  .color-032 {
    background: #cb2127;
  }
  .color-047 {
    background: #d23327;
  }


  .color-034 {
    background: #dd4826;
  }
  .color-036 {
    background: #ec6823;
  }
  .color-035 {
    background: #f36e21;
  }
  .color-404 {
    background: #422b73;
  }
  .color-040 {
    background: #5d2b68;
  }
  .color-043 {
    background: #785fa3;
  }
  .color-042 {
    background: #b994bf;
  }
  .color-041 {
    background: #c5266b;
  }
  .color-045 {
    background: #f088b8;
  }
  .color-562 {
    background: #111b37;
  }
  .color-518 {
    background: #0f113a;
  }


  .color-050 {
    background: #1d2f5e;
  }
  .color-065 {
    background: #252a67;
  }
  .color-049 {
    background: #283275;
  }
  .color-086 {
    background: #243f99;
  }
  .color-067 {
    background: #1e3d77;
  }
  .color-057 {
    background: #19468d;
  }
  .color-051 {
    background: #154682;
  }
  .color-098 {
    background: #08529f;
  }
  .color-052 {
    background: #145fad;
  }
  .color-084 {
    background: #0275bb;
  }
  .color-053 {
    background: #1688c5;
  }


  .color-056 {
    background: #3ea1d5;
  }
  .color-066 {
    background: #0c8590;
  }
  .color-054 {
    background: #159c99;
  }
  .color-055 {
    background: #65c5b2;
  }
  .color-060 {
    background: #053d24;
  }
  .color-613 {
    background: #0b5336;
  }
  .color-061 {
    background: #067a4d;
  }
  .color-068 {
    background: #0a7840;
  }
  .color-062 {
    background: #0c8a44;
  }
  .color-064 {
    background: #209d48;
  }
  .color-063 {
    background: #6ba944;
  }


  .color-800 {
    background: #57331e;
  }
  .color-083 {
    background: #af5b26;
  }
  .color-081 {
    background: #aa895a;
  }
  .color-082 {
    background: #ccc09e;
  }
  .color-023 {
    background: #e8d393;
  }
  .color-072 {
    background: #c2c2c4;
  }
  .color-074 {
    background: #8c918c;
  }
  .color-076 {
    background: #818689;
  }
  .color-071 {
    background: #75807e;
  }
  .color-073 {
    background: #4c4c4d;
  }
  .color-070 {
    background: #070809;
  }
}
