//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');



@import 'common';






// header
.header {
    height: 90px;
    background-color:$background-gray ;
    display: flex;
    justify-content: center;
}
.header__logo {
  display: flex;
  flex-basis: 185px;
  align-items: center;
}
.header__search-bar {
  display: flex;
  flex-basis: 290px;
  width: 1px;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  position: relative;
  form {
    width: 100%;

    input {
      width: 100%;
      border: none;
      padding: 10px;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 20px;
      font-size: 9px;
    }

    button {
      position: absolute;
      background-color: #fff;
      border: none;
      right: 20px;
      top: 35px;
      height: 20px;
      cursor: pointer;
    }
    button::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(img/search-icon.svg) center no-repeat;
      position: relative;
      top: 2px;
    }
  }
}
.header__phone-wrapper {
  display: flex;
  flex-basis: 200px;
  align-items: center;
  .logo {
    width: 10px;
    height: 17px;
    margin-right: 5px;
  }
  .arrow {
    width: 12px;
    height: 9px;
    margin-left: 5px;
  }
  a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }

}
.header__email-wrapper {
  display: flex;
  flex-basis: 130px;
  align-items: center;
}
.header__address-wrapper {
  display: flex;
  flex-basis: 220px;
  align-items: center;
  color: #111111;
}

// Navigation
.nav-wrapper {
  height: 40px;
  background-color: $red;

  a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  nav {
    align-items: center;
    height: inherit;
  }
}


//top slider
.top-slider-wrapper {
  height: 500px;
}



// block with craft cards

.craft-cards-wrapper {
  padding: 10px 0 35px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    a {
      color: $red;
      text-align: center;
      text-transform: uppercase;
    }
    a h3 {
      margin-top: 10px;
    }
}
.card {
  width: 265px;
  flex-basis: 265px;
  margin-top: 25px;

}

// More pictures block
.pictures-block-wrapper {
  height: 253px;
  background: url("img/pictures-block/banner.png") center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    width: 247px;
    height: 190px;
    background-color: #fff;
    h3 {
      color: $red;
      text-transform: uppercase;
      text-align: center;
      font-size: 17px;
      margin: 30px 0 30px 0;
    }
    a.button {
      width: 165px;
      height: 44px;
      background-color: $red;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

// Stands block
.stands-block-wrapper {
  padding: 90px 0 90px 0;


  //min-height: 500px;
  display: flex;
  .icon-block {
    width: 446px;
    position: relative;
    img {
      position: absolute;
      width: 540px;
      height: 320px;
      left: -155px;
      top: -20px;

    }
  }
  .description-block {
    width: 695px;
    flex-basis: 695px;
    h2 {
      color:$red;
      font-size: 49px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      color: $red;
      margin: 60px 0 60px 0;
    }

    a.button {
      width: 165px;
      height: 44px;
      background-color: $red;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
    }

  }

}

// Services block
.services-block-wrapper {
  background: url("img/services/services-background.png") center no-repeat;
  min-height: 850px;
  padding-top: 130px;
}
.services-block {
  width: 85%;
  position: relative;



  h2 {
    color: $red;
    font-size: 49px;
    text-transform: uppercase;
    width: 50%;
    font-weight: 500;
  }
  h3 {
    font-weight: 400;
    padding-left: 20px;
    margin-top: 30px;
  }
  .logo-copy {
    position: absolute;
    right: -530px;
    bottom: -25px;

  }
  .icon-cards {
    //width: 400px;
    display: flex;
    flex-wrap: wrap;

      .card {
        width: 245px;
        flex-basis: 245px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 42px 35px 0 0;
        p {
          font-size: 14px;
          text-align: center;
        }
        h4 {
          margin: 10px 0 10px 0;
          text-align: center;
        }
        .icon {
          width: 120px;
          height: 120px;
          background: $red;
          border-radius: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: min-content;
            height: min-content;
          }
        }
      }
  }
}
// why-us block
.why-us-block-wrapper {
  padding: 50px 0 50px 0;
}
.why-us-block {
  min-height: 720px;
  position: relative;

}
.why-us-block__header {
  h2 {
    font-size: 49px;
    text-transform: uppercase;
    color: $red;
    text-align: center;
    font-weight: 500;
  }
  p {
    margin: 15px 0 15px 0;
  }
}
.why-us-block__content {
  display: flex;
  margin-top: 30px;

  .services-list {
    width: 40%;
    ul {
      display: flex;
      flex-direction: column;
      padding-right: 30px;
    }
    ul li {
    }
  }
  .services-content {
    display: none;
    width: 60%;
    p {
      margin: 35px 0 35px 0;
    }
  }
}
.akk-menu-item {
  list-style: none;
  text-transform: uppercase;
  padding: 25px 0 25px 30px;
  text-decoration: underline;
  color: $red;
  cursor: pointer;
}
.akk-menu-content {
  list-style: none;
  position: absolute;
  left: 460px;
  top: 120px;
  display: none;
}

.show {
  display: block!important;
}

.btn-checked {
  background-color: $red;
  color: #fff!important;
}

// 3 steps block
.three-steps-block-wrapper {
  background-color: #dbd9eb;
  min-height: 530px;
}
.three-steps-block {
  padding: 30px 0 30px 0;

  h2 {
    font-size: 49px;
    color: $red;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    span {
      font-size: 68px;
    }
  }
}
.three-steps-block__content {
  display: flex;
  margin-top: 40px;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-basis: 33%;
    padding: 0 30px 0 30px ;
    .thumbnail {
      width: 227px;
      height: 227px;
      border-radius: 120px;
      overflow: hidden;
    }
    h3 {
      margin-top: 20px;
      color: $red;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
    }
    h4 {
      margin-top: 20px;
    }
    p {
      margin-top: 15px;
      font-size: 14px;
      text-align: center;
    }
  }
}
// Portfolio block
.portfolio-block-wrapper {
  min-height: 770px;
  padding: 45px 0 45px 0;
  display: flex;
  flex-direction: column;
  a.portfolio-more {
    display: block;
    margin: 20px 0 20px 0;
    color: #000;
    align-self: center;
  }
}
.portfolio-block__header {
  h2 {
    font-size: 49px;
    color:$red;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    }
  p {
    margin: 30px 0 30px 0;
    text-align: center;
  }
}
.portfolio-block__content {
  display: flex;
  flex-direction: column;
  .content-big {
    display: flex;
    justify-content: space-between;
  }
  .content-small {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

// Out partners block
.our-partners-block-wrapper {
  background-color: #f7f7f7;
}
.our-partners-block {
  height: 180px;

  .wpsisac-image-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wpsisac-image-slide-wrap
    img {
      width: auto;
  }
}

// footer block
footer {
  min-height: 290px;
  height: 1px;
  background-color: #474747;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
  ul li {
    list-style: none;
    padding: 3px 0 0 0;
  }
   a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color:#adadad;
  }
  a:hover {
    color: #fff;
  }
}
.footer-bottom {
  margin-top: 20px;
  border-top:1px solid #adadad;
  height: 50px;
  color: #adadad ;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
}
.footer-socials {
  li a {
    display: flex;
    align-items: center;
  }
  img {
    margin-right: 10px;
  }
}

@import 'media';
