@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic");
*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 17px; }

body {
  overflow-x: hidden;
  padding-top: 119px; }
  body.admin-bar .main-header {
    top: 32px; }

main {
  overflow: hidden; }

.container {
  width: 1140px;
  margin: 0 auto; }

.container-wide {
  width: auto;
  margin: 0 auto; }

.laser-btn-order {
  text-decoration: none;
  background-color: #6f0d33;
  color: #fff;
  padding: 14px 50px;
  font-size: 14px;
  text-transform: uppercase; }
  .laser-btn-order:hover {
    background-color: #d0b9c2;
    transition: all 0.3s linear; }

.fade {
  display: none;
  position: fixed;
  top: 112px;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 100%;
  background-color: rgba(92, 92, 92, 0.8); }

.clearfix:after {
  content: " ";
  clear: both;
  display: table; }

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999; }

.header-mobile {
  display: none;
  height: 37px;
  padding: 0 22px 0 30px;
  align-items: center;
  background: #ffffff;
  z-index: 999999;
  position: relative; }
  .header-mobile .header-mobile__logo img {
    width: 120px; }
  .header-mobile .header-mobile__hamburger {
    margin-right: 29px; }
    .header-mobile .header-mobile__hamburger span {
      display: block;
      height: 3px;
      width: 16px;
      background-color: #000000;
      margin-bottom: 3px;
      border-radius: 4px;
      transition: all 0.3s; }
      .header-mobile .header-mobile__hamburger span:first-child {
        transform-origin: 0 100%;
        transform: rotate(0); }
      .header-mobile .header-mobile__hamburger span:nth-child(2) {
        opacity: 1; }
      .header-mobile .header-mobile__hamburger span:last-child {
        transform-origin: 0 0;
        transform: rotate(0);
        margin-bottom: 0; }
  .header-mobile .header-mobile__meta {
    display: flex;
    margin-left: auto; }
    .header-mobile .header-mobile__meta .header-mobile__search {
      margin-right: 20px; }

.top-menu-mobile {
  display: none;
  position: absolute;
  top: 0;
  background: #fff;
  width: 100% !important;
  z-index: 999998;
  padding: 57px 20px 20px 20px;
  height: 100vh;
  overflow: auto; }
  .top-menu-mobile ul {
    list-style: none; }
  .top-menu-mobile a {
    color: #000000 !important;
    font-weight: 100 !important;
    text-transform: uppercase;
    padding: 8px 23px 8px 5px; }
  .top-menu-mobile li {
    border-bottom: 1px solid #000000;
    position: relative; }
    .top-menu-mobile li:after {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      right: 5px;
      background: url("img/arrow-right.png");
      height: 80%;
      width: 15px;
      background-size: contain;
      background-repeat: no-repeat; }

.header {
  height: 79px;
  background-color: #efefef;
  display: flex;
  justify-content: center; }

.header__top-content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__logo {
  display: flex;
  flex-basis: 185px;
  align-items: center; }

.header__search-bar {
  padding-top: 5px; }
  .header__search-bar .header__search-field {
    position: relative; }
  .header__search-bar form input {
    width: 293px;
    border: none;
    padding: 0 30px 0 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 14px; }
    .header__search-bar form input::placeholder {
      color: #9999cc; }
  .header__search-bar form button {
    position: absolute;
    background-color: #fff;
    border: none;
    right: 10px;
    top: 5px;
    height: 20px;
    cursor: pointer; }
  .header__search-bar form button::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(img/search-icon.svg) center no-repeat;
    position: relative;
    top: 2px; }

.header__phone-wrapper {
  position: relative;
  display: flex;
  flex-basis: 185px;
  align-items: center; }
  .header__phone-wrapper .logo {
    width: 10px;
    height: 17px;
    margin-right: 5px; }
  .header__phone-wrapper .arrow {
    width: 12px;
    height: 9px;
    margin-left: 5px; }
  .header__phone-wrapper a {
    color: #000;
    font-weight: bold;
    text-decoration: none; }
  .header__phone-wrapper .header__phone-logo {
    display: flex;
    align-items: center; }
    .header__phone-wrapper .header__phone-logo::after {
      content: '';
      display: inline-block;
      background: url("img/button-red.svg") no-repeat;
      width: 12px;
      height: 9px;
      margin-left: 7px;
      margin-top: 3px;
      transform: rotate(180deg);
      transition: transform 0.3s; }
  .header__phone-wrapper .header__phone-logo-arrow::after {
    content: '';
    display: inline-block;
    background: url("img/button-red.svg") no-repeat;
    width: 12px;
    height: 9px;
    margin-left: 7px;
    margin-top: 3px;
    transform: rotate(0deg);
    transition: transform 0.3s; }
  .header__phone-wrapper .active {
    display: block; }

.header__phone-modal {
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.17);
  display: none;
  position: absolute;
  top: 33px;
  right: 0px;
  width: 320px;
  height: 220px;
  padding: 18px;
  background-color: #fff;
  z-index: 401;
  border-radius: 5px; }
  .header__phone-modal .phone-bold {
    margin-bottom: 12px; }
    .header__phone-modal .phone-bold a {
      font-size: 25px;
      color: #9d2220; }
  .header__phone-modal .working-regime {
    font-size: 14px;
    font-weight: 300; }
  .header__phone-modal hr {
    margin: 12px -18px;
    border: 0;
    border-bottom: 1px solid #999999; }
  .header__phone-modal .phone-link {
    margin-bottom: 10px; }
    .header__phone-modal .phone-link a {
      font-size: 16px;
      font-weight: 300; }
      .header__phone-modal .phone-link a img {
        width: 16px;
        height: 16px;
        margin-right: 8px; }
    .header__phone-modal .phone-link:hover a {
      font-weight: 400; }

.header__feedback-modal {
  display: none;
  position: absolute;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.17);
  top: 33px;
  right: 0px;
  width: 320px;
  height: 320px;
  padding: 14px;
  background-color: #fff;
  z-index: 401;
  border-radius: 5px; }
  .header__feedback-modal hr {
    border: 0;
    border-bottom: 1px solid #999999;
    margin: 0 -14px 0 -14px; }
  .header__feedback-modal .feedback-form-header {
    margin-top: 25px;
    margin-bottom: -10px; }
    .header__feedback-modal .feedback-form-header h3 {
      font-size: 14px;
      color: #183147;
      margin-bottom: 8px; }
    .header__feedback-modal .feedback-form-header p {
      font-size: 12px;
      color: #183147; }
  .header__feedback-modal .feedback-link {
    margin: 14px 0 8px 0; }
    .header__feedback-modal .feedback-link a {
      color: #495c6e;
      font-weight: 300;
      font-size: 16px; }
      .header__feedback-modal .feedback-link a img {
        width: 15px;
        height: 13px; }
  .header__feedback-modal .feedback-field {
    margin: 15px 0; }
    .header__feedback-modal .feedback-field input {
      width: 100%;
      padding: 14px;
      border-radius: 5px;
      border: 0;
      background: #f7f7f7;
      font-size: 17px; }
  .header__feedback-modal .feedback-submit {
    text-align: center; }
    .header__feedback-modal .feedback-submit:hover input {
      background-color: #9d1248;
      transition: background-color 0.3s linear; }
    .header__feedback-modal .feedback-submit input {
      border: 0;
      background: #6f0d33;
      font-size: 19px;
      color: #fff;
      padding: 14px 67px;
      text-align: center;
      border-radius: 6px; }

.header__email-wrapper {
  display: flex;
  flex-basis: 122px;
  align-items: center; }

.header__address-wrapper {
  display: flex;
  flex-basis: 206px;
  align-items: center;
  color: #111111; }

.header__meta_tablet {
  display: none; }

.nav-wrapper {
  height: 40px;
  background-color: #6f0d33; }
  .nav-wrapper a {
    color: #fff;
    text-decoration: none;
    display: block; }
  .nav-wrapper .menu-top-container, .nav-wrapper .top-menu-desktop, .nav-wrapper #menu-top {
    height: 100%; }
  .nav-wrapper .top-menu-desktop ul {
    list-style: none;
    font-weight: 100; }
  .nav-wrapper .top-menu-desktop .sub-menu a {
    color: #000000; }
  .nav-wrapper .top-menu-desktop #menu-top {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .nav-wrapper .top-menu-desktop #menu-top .w-arrow > a:after {
      content: '';
      display: inline-block;
      background: url("img/button-white.svg") no-repeat;
      width: 12px;
      height: 9px;
      margin-left: 7px;
      margin-top: 3px;
      transform: rotate(180deg);
      transition: transform 0.3s; }
    .nav-wrapper .top-menu-desktop #menu-top .w-arrow:hover > a:after {
      content: '';
      display: inline-block;
      background: url("img/button-red.svg") no-repeat;
      width: 12px;
      height: 9px;
      margin-left: 7px;
      margin-top: 3px;
      transform: rotate(0);
      transition: transform 0.3s; }
    .nav-wrapper .top-menu-desktop #menu-top > li.menu-item-has-children > .sub-menu {
      display: none;
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      z-index: 10;
      background: #fff;
      padding: 26px 25px 25px 0; }
    .nav-wrapper .top-menu-desktop #menu-top > li > a {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 20px; }
    .nav-wrapper .top-menu-desktop #menu-top > li:first-child:hover > a {
      background: #ffffff;
      color: #6f0d33; }
    .nav-wrapper .top-menu-desktop #menu-top > li:first-child > a {
      padding: 0 7px 0 14px; }
    .nav-wrapper .top-menu-desktop #menu-top > li:last-child > a {
      padding-right: 0; }
    .nav-wrapper .top-menu-desktop #menu-top > li:hover > a {
      font-weight: bold; }
    .nav-wrapper .top-menu-desktop #menu-top > li:hover > .sub-menu {
      display: flex; }
    .nav-wrapper .top-menu-desktop #menu-top li.bold {
      font-weight: bold; }
    .nav-wrapper .top-menu-desktop #menu-top li.separate {
      border-left: 1px solid #dfcad2;
      padding-top: 10px; }
      .nav-wrapper .top-menu-desktop #menu-top li.separate:first-child {
        flex-shrink: 0;
        flex-basis: 435px;
        border-left: none; }
      .nav-wrapper .top-menu-desktop #menu-top li.separate > a {
        display: none !important; }
      .nav-wrapper .top-menu-desktop #menu-top li.separate > .sub-menu {
        padding-left: 42px; }
        .nav-wrapper .top-menu-desktop #menu-top li.separate > .sub-menu > li {
          margin-bottom: 25px; }
          .nav-wrapper .top-menu-desktop #menu-top li.separate > .sub-menu > li > a {
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase; }
            .nav-wrapper .top-menu-desktop #menu-top li.separate > .sub-menu > li > a:hover {
              color: #6f0d33; }
          .nav-wrapper .top-menu-desktop #menu-top li.separate > .sub-menu > li > .sub-menu > li:hover a {
            color: #6f0d33; }
          .nav-wrapper .top-menu-desktop #menu-top li.separate > .sub-menu > li > .sub-menu > li > a {
            font-weight: 100;
            font-size: 15px;
            padding: 5px 0; }

.top-slider-wrapper img {
  width: 100%; }

.craft-cards-wrapper {
  padding: 10px 0 35px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .craft-cards-wrapper a {
    color: #6f0d33;
    text-align: center;
    text-transform: uppercase; }
  .craft-cards-wrapper a h3 {
    margin-top: 10px;
    font-weight: normal; }

.card-craft {
  width: 265px;
  flex-basis: 265px;
  margin-top: 25px; }
  .card-craft img {
    width: 100%; }
  .card-craft:hover a h3 {
    font-weight: bold; }
  .card-craft:hover a img {
    filter: brightness(60%);
    transition: all 0.3s; }

.pictures-block-wrapper {
  height: 253px;
  background: url("img/pictures-block/banner.png") center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pictures-block-wrapper div {
    width: 247px;
    height: 190px;
    background-color: #fff; }
    .pictures-block-wrapper div h3 {
      color: #6f0d33;
      text-transform: uppercase;
      text-align: center;
      font-size: 17px;
      margin: 30px 0 30px 0; }
    .pictures-block-wrapper div a.button {
      width: 165px;
      height: 44px;
      background-color: #6f0d33;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300; }
      .pictures-block-wrapper div a.button:hover {
        background-color: #d0b9c2;
        transition: all 0.3s linear; }

.stands-block-wrapper {
  padding: 90px 0 90px 0;
  display: flex; }
  .stands-block-wrapper .icon-block {
    width: 446px;
    position: relative; }
    .stands-block-wrapper .icon-block img {
      position: absolute;
      width: 540px;
      height: 320px;
      left: -155px;
      top: -20px; }
  .stands-block-wrapper .description-block {
    width: 695px;
    flex-basis: 695px; }
    .stands-block-wrapper .description-block h2 {
      color: #6f0d33;
      font-size: 49px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center; }
    .stands-block-wrapper .description-block p {
      color: #6f0d33;
      margin: 60px 0 60px 0;
      font-weight: 300; }
    .stands-block-wrapper .description-block a.button {
      width: 165px;
      height: 44px;
      background-color: #6f0d33;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300; }
      .stands-block-wrapper .description-block a.button:hover {
        background-color: #d0b9c2;
        transition: all 0.3s linear; }

.services-block-wrapper {
  background: url("img/services/services-background.png") center no-repeat;
  background-size: cover;
  padding: 125px 0 20px 0;
  margin-top: -100px; }

.services-block {
  width: 85%;
  position: relative; }
  .services-block h2 {
    color: #6f0d33;
    font-size: 49px;
    text-transform: uppercase;
    width: 50%;
    font-weight: 500; }
  .services-block h3 {
    font-weight: 300;
    margin-top: 30px; }
  .services-block .logo-copy {
    position: absolute;
    right: -530px;
    bottom: -19px; }
  .services-block .icon-cards {
    display: flex;
    flex-wrap: wrap; }
    .services-block .icon-cards .card {
      width: 245px;
      flex-basis: 245px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 42px 35px 0 0; }
      .services-block .icon-cards .card p {
        font-size: 14px;
        text-align: center; }
      .services-block .icon-cards .card h4 {
        margin: 10px 0 10px 0;
        text-align: center; }
      .services-block .icon-cards .card .icon {
        width: 120px;
        height: 120px;
        background: #6f0d33;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .services-block .icon-cards .card .icon img {
          width: min-content;
          height: min-content; }

.why-us-block-wrapper {
  padding: 50px 0 50px 0; }

.why-us-block__header h2 {
  font-size: 49px;
  text-transform: uppercase;
  color: #6f0d33;
  text-align: center;
  font-weight: 500; }
.why-us-block__header p {
  margin: 15px 0 15px 0;
  text-align: center;
  font-weight: 300; }

.why-us-block__content {
  display: flex;
  margin-top: 30px; }
  .why-us-block__content .services-list {
    display: none; }
    .why-us-block__content .services-list ul {
      display: flex;
      flex-direction: column;
      padding-right: 30px; }
  .why-us-block__content .services-content {
    display: none;
    width: 60%; }
    .why-us-block__content .services-content p {
      margin: 35px 0 35px 0; }

.services-list-desktop {
  display: flex; }

.dtop-menu {
  width: 460px;
  margin-right: 40px;
  list-style: none; }
  .dtop-menu li {
    padding: 20px 0 20px 40px;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer; }

.dtop-menu-content {
  width: 635px;
  display: none; }
  .dtop-menu-content img {
    width: 100%; }
  .dtop-menu-content p {
    margin-top: 30px; }

.akk-menu-item {
  list-style: none;
  text-transform: uppercase;
  padding: 25px 0 25px 30px;
  text-decoration: underline;
  color: #6f0d33;
  cursor: pointer; }

.akk-menu-content {
  list-style: none;
  position: absolute;
  left: 450px;
  top: 120px;
  display: none; }
  .akk-menu-content img {
    width: 100%; }
  .akk-menu-content p {
    margin: 15px 0 10px 0; }

.show {
  display: block !important; }

.btn-checked {
  background-color: #6f0d33;
  color: #fff !important;
  text-decoration: none !important; }

.three-steps-block-wrapper {
  background-color: #dbd9eb; }

.three-steps-block {
  padding: 30px 0 30px 0; }
  .three-steps-block h2 {
    font-size: 49px;
    color: #6f0d33;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center; }
    .three-steps-block h2 span {
      font-size: 68px; }

.three-steps-block__content {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center; }
  .three-steps-block__content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-basis: 240px;
    padding: 0 30px 0 30px;
    margin-top: 10px; }
    .three-steps-block__content .card .thumbnail {
      width: 227px;
      height: 227px;
      border-radius: 120px;
      overflow: hidden; }
    .three-steps-block__content .card h3 {
      margin-top: 20px;
      color: #6f0d33;
      font-size: 30px;
      font-weight: 400;
      text-align: center; }
    .three-steps-block__content .card h4 {
      margin-top: 20px;
      text-align: center; }
    .three-steps-block__content .card p {
      margin-top: 15px;
      font-size: 14px;
      text-align: center; }

.portfolio-block-wrapper {
  padding: 45px 0 45px 0;
  display: flex;
  flex-direction: column; }
  .portfolio-block-wrapper a.button {
    background-color: #6f0d33;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    margin-top: 15px; }
    .portfolio-block-wrapper a.button:hover {
      background-color: #d0b9c2;
      transition: all 0.3s linear; }

.portfolio-block__header h2 {
  font-size: 49px;
  color: #6f0d33;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center; }
.portfolio-block__header p {
  margin: 30px 0 30px 0;
  text-align: center;
  padding: 0 5px; }

.portfolio-block__content {
  padding: 5px; }

.content-big {
  display: flex;
  justify-content: center; }
  .content-big a {
    flex-basis: 370px;
    flex-shrink: 0.5;
    margin-right: 8px; }
    .content-big a:last-child {
      margin-right: 0; }
    .content-big a img {
      max-width: 100%; }

.content-small {
  margin-top: 8px;
  display: flex;
  justify-content: center; }
  .content-small a {
    flex-basis: 181px;
    flex-shrink: 0.5;
    margin-right: 8px; }
    .content-small a:last-child {
      margin-right: 0; }
    .content-small a img {
      width: 100%; }

.flexi-carousel-partners__wrapper {
  height: 176px;
  background: #f7f7f7; }
  .flexi-carousel-partners__wrapper .nbs-flexisel-nav-left {
    display: none; }
  .flexi-carousel-partners__wrapper .nbs-flexisel-nav-right {
    display: none; }
  .flexi-carousel-partners__wrapper .nbs-flexisel-inner {
    border: 0;
    background: #f7f7f7; }

#flexi-carousel-partners {
  height: 176px; }
  #flexi-carousel-partners .nbs-flexisel-item {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center; }
    #flexi-carousel-partners .nbs-flexisel-item img {
      max-width: 90%; }

.breadcrumbs {
  color: #8b8989;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0 10px 15px; }

.laser-top-banner__wrapper {
  height: 550px;
  background: #f7f7f7 url(img/laser-page/laser.png) 85% no-repeat; }

.laser-top-banner {
  padding-left: 25px;
  padding-top: 35px;
  padding-bottom: 50px; }
  .laser-top-banner h1 {
    font-size: 35px;
    font-weight: bold;
    color: #6f0d33;
    text-transform: uppercase; }
  .laser-top-banner h3 {
    width: 45%;
    color: #6f0d33;
    font-size: 19px;
    font-weight: 400;
    margin-top: 20px; }
  .laser-top-banner p {
    width: 55%;
    font-size: 19px;
    margin-top: 32px; }
    .laser-top-banner p img {
      width: 23px;
      height: 16px; }

.laser-flag {
  background-color: #914764;
  color: #fff;
  padding: 10px 60px 10px 30px;
  margin-top: 35px;
  text-transform: uppercase;
  position: relative; }
  .laser-flag::after {
    content: "";
    border-top: 20px solid transparent;
    border-right: 21px solid #f7f7f7;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: 0;
    top: 0; }

.laser-banner-logo {
  display: none;
  margin: 0 auto; }

.laser-cards-block {
  display: flex;
  padding: 10px 65px 30px 65px;
  justify-content: space-between;
  flex-wrap: wrap; }

.card-laser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  flex-basis: 220px;
  margin-top: 25px;
  background-color: #f7f7f7; }
  .card-laser a {
    text-decoration: none;
    color: #6f0d33; }
  .card-laser h3 {
    text-align: center;
    text-transform: uppercase;
    color: #6f0d33;
    padding: 0 5px;
    font-weight: 400; }
  .card-laser p {
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    color: #000;
    margin-top: 10px;
    padding: 0 14px; }
  .card-laser img {
    width: 100%;
    margin-bottom: 15px; }
  .card-laser .card-laser-button {
    text-transform: uppercase;
    color: #6f0d33;
    border: 1px solid #6f0d33;
    padding: 15px 50px;
    margin: 20px 0; }
    .card-laser .card-laser-button:hover {
      color: #fff;
      background-color: #6f0d33; }

.quality-video-block__wrapper {
  position: relative; }
  .quality-video-block__wrapper .video-bg-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .quality-video-block__wrapper video {
    position: absolute;
    top: 50%;
    width: 1920px;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%); }

.video-bg-container-overlay {
  background-color: rgba(232, 20, 195, 0.6);
  position: absolute;
  width: 100%;
  height: 100%; }

.quality-video-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 120px 20px;
  position: relative;
  z-index: 1; }
  .quality-video-block h3 {
    color: #fffefe;
    font-size: 52px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center; }
  .quality-video-block ul li {
    color: #fff;
    font-size: 24px;
    margin-top: 50px; }

.laser-price-block-wrapper {
  padding: 35px 0 60px 0;
  background-color: #ebebeb; }

.laser-price-block {
  color: #6f0d33;
  text-align: center; }
  .laser-price-block h2 {
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  .laser-price-block ul {
    list-style: none;
    margin: 37px 0 44px 0; }
    .laser-price-block ul li {
      font-size: 27px;
      font-weight: 300;
      margin-bottom: 35px; }
      .laser-price-block ul li span {
        font-weight: bold;
        font-size: 27px; }
  .laser-price-block a {
    text-align: center; }

.craft-acrylic-block {
  padding: 40px 0;
  display: flex; }

.craft-acrylic-block__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px; }

.craft-acrylic-block__logo-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 15px; }

.craft-acrylic-block__content {
  padding: 0 10px; }
  .craft-acrylic-block__content h3 {
    font-size: 37px;
    color: #6f0d33;
    text-transform: uppercase;
    margin-top: 35px;
    font-weight: 600; }
  .craft-acrylic-block__content p {
    margin: 25px 0 40px 0;
    font-size: 24px;
    color: #6f0d33; }

.acryl-cutting-block__wrapper {
  min-height: 312px;
  background: url("img/acrylic/banner-acrylic.jpg") center; }

.cutting-acrylic-logo {
  display: none; }

.acryl-cutting-block__content {
  padding: 30px 10px;
  float: right; }
  .acryl-cutting-block__content h3 {
    font-size: 37px;
    color: #6f0d33;
    text-transform: uppercase; }
  .acryl-cutting-block__content p {
    font-size: 29px;
    font-weight: 300;
    color: #6f0d33;
    margin-bottom: 50px; }

.wood-cutting-block__wrapper {
  height: 318px;
  background: url("img/wood/banner-wood.jpg") center; }

.cutting-wood-logo {
  display: none; }

.wood-cutting-block__content {
  width: 53%;
  padding: 30px 0 0 100px; }
  .wood-cutting-block__content h3 {
    font-size: 40px;
    text-transform: uppercase;
    color: #6f0d33;
    margin-bottom: 50px; }

.montage-block__wrapper {
  background: url("img/montage/montage.jpg") center; }

.montage-block__content {
  padding: 67px 0 100px 20px;
  width: 90%; }
  .montage-block__content h3 {
    font-size: 90px;
    text-transform: uppercase;
    color: #fff; }
  .montage-block__content p {
    color: #fff;
    font-size: 29px; }

.laser-partners-block-wrapper {
  padding: 40px 10px;
  background: #fff; }
  .laser-partners-block-wrapper h3 {
    font-size: 41px;
    font-weight: 500;
    text-transform: uppercase;
    color: #6f0d33; }

.flexi-carousel-partners-laser__wrapper {
  height: 176px;
  background: #f7f7f7; }
  .flexi-carousel-partners-laser__wrapper .nbs-flexisel-nav-left {
    display: none; }
  .flexi-carousel-partners-laser__wrapper .nbs-flexisel-nav-right {
    display: none; }
  .flexi-carousel-partners-laser__wrapper .nbs-flexisel-inner {
    border: 0;
    background: #f7f7f7; }

#flexi-carousel-partners-laser {
  height: 176px; }
  #flexi-carousel-partners-laser .nbs-flexisel-item {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center; }
    #flexi-carousel-partners-laser .nbs-flexisel-item img {
      max-width: 90%; }

.laser-portfolio-block-wrapper {
  padding: 45px 0 45px 0;
  display: flex;
  flex-direction: column; }
  .laser-portfolio-block-wrapper .button {
    background-color: #6f0d33;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 50px;
    margin-top: 15px; }
    .laser-portfolio-block-wrapper .button:hover {
      background-color: #d0b9c2;
      transition: all 0.3s linear; }

.laser-portfolio-block__header h2 {
  font-size: 49px;
  color: #6f0d33;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center; }
.laser-portfolio-block__header p {
  margin: 30px 0 30px 0;
  text-align: center;
  padding: 0 5px; }

.portfolio-block__content {
  padding: 5px; }

.content-big {
  display: flex;
  justify-content: center; }
  .content-big a {
    flex-basis: 370px;
    flex-shrink: 0.5;
    margin-right: 8px; }
    .content-big a:last-child {
      margin-right: 0; }
    .content-big a img {
      max-width: 100%; }

.laser-questions-contact__wrapper {
  color: #6f0d33;
  border: 10px solid #6f0d33;
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 80px;
  margin-bottom: 65px; }
  .laser-questions-contact__wrapper img {
    position: absolute;
    bottom: -75px;
    right: 50px; }

.laser-questions-contact__content {
  position: relative; }
  .laser-questions-contact__content h2 {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 500; }
  .laser-questions-contact__content p {
    font-size: 15px;
    margin-top: 23px;
    margin-bottom: 36px;
    width: 400px; }
  .laser-questions-contact__content span {
    font-size: 39px;
    font-weight: 500;
    margin-right: 25px; }

.recunstruction-wrapper {
  height: 340px;
  background: url("img/404/reconstruction.jpg") 0% no-repeat;
  margin-top: 38px;
  margin-bottom: 38px; }

.reconstruction__content {
  width: 500px;
  float: right;
  color: #6f0d33;
  padding: 50px 5px 0 5px;
  text-align: center; }
  .reconstruction__content h1 {
    font-size: 36px;
    text-transform: uppercase; }
  .reconstruction__content h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 400; }
  .reconstruction__content p {
    font-size: 20px;
    font-weight: 400; }

.recunstruction-mobile-wrapper {
  display: none; }

.reconstruction-mobile__content {
  color: #6f0d33;
  padding: 50px 5px 0 5px;
  text-align: center; }
  .reconstruction-mobile__content h1 {
    font-size: 36px;
    text-transform: uppercase; }
  .reconstruction-mobile__content h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400; }
  .reconstruction-mobile__content p {
    font-size: 20px;
    font-weight: 400; }
  .reconstruction-mobile__content img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px; }

.questions-contact__wrapper {
  color: #6f0d33;
  border: 10px solid #6f0d33;
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 80px;
  margin-bottom: 65px;
  position: relative; }
  .questions-contact__wrapper .question-operator {
    position: absolute;
    bottom: -75px;
    right: 50px; }
  .questions-contact__wrapper .question-operator-mobile {
    display: none; }

.questions-contact__content h2 {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 500; }
.questions-contact__content p {
  font-size: 15px;
  margin-top: 23px;
  margin-bottom: 36px;
  width: 55%; }
.questions-contact__content span {
  font-size: 39px;
  font-weight: 500;
  margin-right: 25px; }

.questions-contact__content-contacts {
  display: flex;
  width: 60%;
  flex-wrap: wrap; }
  .questions-contact__content-contacts h4 {
    font-size: 39px;
    margin-right: 25px; }
  .questions-contact__content-contacts .button {
    font-size: 13px;
    background-color: #6f0d33;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 50px; }
    .questions-contact__content-contacts .button:hover {
      background-color: #d0b9c2;
      transition: all 0.3s linear; }

.feedback-form-page-wrapper {
  padding: 30px 30px; }

.file-send-wrapper {
  position: relative; }
  .file-send-wrapper .file-send {
    opacity: 0;
    visibility: hidden;
    position: absolute; }
  .file-send-wrapper label {
    background-color: #f7f7f7;
    width: 186px;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid lightgrey; }

.feedback-form-page {
  width: 70%;
  margin: 0 auto; }
  .feedback-form-page h1 {
    font-size: 25px;
    color: #6f0d33;
    margin: 0 0 30px 10px; }
  .feedback-form-page h3 {
    margin: 0 0 30px 0;
    font-weight: 300; }
  .feedback-form-page p {
    margin-top: 22px; }
  .feedback-form-page form {
    padding: 30px;
    border: 1px solid lightgrey; }
    .feedback-form-page form input {
      border: none;
      background-color: #f7f7f7;
      padding: 10px;
      border-radius: 5px;
      margin: 10px 0; }
    .feedback-form-page form label {
      color: #333333;
      font-weight: 500; }
    .feedback-form-page form input[type="submit"] {
      background-color: #6f0d33;
      color: #fff;
      padding: 10px 50px;
      width: initial; }
      .feedback-form-page form input[type="submit"]:hover {
        background-color: #d0b9c2;
        transition: all 0.3s linear; }
    .feedback-form-page form textarea {
      border: none;
      background-color: #f7f7f7;
      padding: 10px;
      border-radius: 5px;
      margin: 10px 0;
      width: 100%; }

footer {
  background-color: #474747; }

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0; }
  .footer__content ul li {
    list-style: none;
    padding: 3px 0 0 0; }
  .footer__content a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color: #adadad; }
  .footer__content a:hover {
    color: #fff; }

.footer_content_mobile {
  display: none;
  flex-wrap: wrap;
  padding: 0 10px 0 10px; }
  .footer_content_mobile ul li {
    list-style: none; }
  .footer_content_mobile a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color: #adadad; }
  .footer_content_mobile a:hover {
    color: #fff; }

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #adadad;
  color: #adadad;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 14px; }

.footer-socials li a {
  display: flex;
  align-items: center; }
.footer-socials img {
  margin-right: 10px; }

.mobile-footer {
  display: none; }

@media (max-width: 1170px) {
  .header__top-content {
    padding: 0 22px 0 25px; }
    .header__top-content .header__address-wrapper, .header__top-content .header__email-wrapper {
      display: none; }
    .header__top-content .header__meta_tablet {
      display: flex;
      flex-direction: column;
      padding-top: 15px; }

  .nav-wrapper .top-menu-desktop #menu-top > li:last-child > a {
    padding-right: 20px; }
  .nav-wrapper .top-menu-desktop #menu-top li.separate:first-child {
    flex-basis: 403px; }
  .nav-wrapper .top-menu-desktop #menu-top li.separate:nth-child(2) {
    flex-shrink: 0;
    flex-basis: 284px; }
  .nav-wrapper .top-menu-desktop #menu-top li.separate > .sub-menu {
    padding-left: 28px; }
  .nav-wrapper .top-menu-mobile {
    display: none; }

  .container {
    width: 1024px; }

  body .craft-cards-wrapper {
    justify-content: space-around; }

  .services-list-desktop {
    display: flex;
    padding-right: 15px; }

  .dtop-menu {
    width: 450px;
    margin-right: 12px;
    list-style: none; }

  .dtop-menu-content {
    width: 550px; }
    .dtop-menu-content img {
      width: 100%; }

  .laser-top-banner__wrapper {
    background: #f7f7f7 url(img/laser-page/laser.png) 105% no-repeat; }

  .laser-cards-block {
    padding: 10px 35px 30px 35px; } }
@media (max-width: 1090px) {
  .stands-block-wrapper {
    padding: 50px 0 0 0; }
    .stands-block-wrapper .icon-block img {
      position: initial;
      width: 100%;
      height: auto; }
    .stands-block-wrapper .description-block {
      width: 420px;
      flex-basis: initial; }
      .stands-block-wrapper .description-block h2 {
        font-size: 42px; }

  .services-block-wrapper .logo-copy {
    display: none; }
  .services-block-wrapper .services-block {
    width: auto; }
    .services-block-wrapper .services-block h2 {
      padding-left: 40px;
      width: 54%; }
    .services-block-wrapper .services-block h3 {
      padding-left: 40px; }
    .services-block-wrapper .services-block .icon-cards {
      justify-content: center; }

  .akk-menu-content {
    position: absolute;
    left: 400px;
    width: 50%; }
    .akk-menu-content img {
      width: 100%; }

  .portfolio-block__content {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: initial; }
    .portfolio-block__content .content-big {
      display: flex;
      justify-content: space-between; }
      .portfolio-block__content .content-big a {
        width: 33%;
        flex-basis: 33%; }
        .portfolio-block__content .content-big a img {
          width: 100%; }
    .portfolio-block__content .content-small {
      display: flex;
      justify-content: space-between;
      margin-top: 10px; }
      .portfolio-block__content .content-small a {
        width: 16.6%;
        flex-basis: 16.6%; }
        .portfolio-block__content .content-small a img {
          width: 100%; } }
@media (max-width: 1024px) {
  body {
    padding-top: 37px; }
    body.admin-bar .top-menu-mobile {
      top: -31px;
      padding-top: 89px; }
    body.admin-bar .main-header {
      top: 31px; }
    body.menu-opened {
      overflow: hidden; }
      body.menu-opened .top-menu-mobile {
        display: block; }
      body.menu-opened .header-mobile__hamburger span:first-child {
        transform: rotate(45deg); }
      body.menu-opened .header-mobile__hamburger span:nth-child(2) {
        opacity: 0; }
      body.menu-opened .header-mobile__hamburger span:last-child {
        transform: rotate(-45deg); }

  .header, .top-menu-desktop {
    display: none; }

  .header-mobile {
    display: flex; }

  .nav-wrapper {
    height: auto;
    background-color: transparent; }

  .craft-cards-wrapper {
    padding: 10px 20px 35px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .craft-cards-wrapper a {
      text-align: center;
      text-transform: uppercase; }
    .craft-cards-wrapper a h3 {
      margin-top: 10px;
      font-size: 15px;
      font-weight: normal; }

  .card-craft {
    width: 228px;
    flex-basis: 228px;
    margin-top: 25px; }

  .stands-block-wrapper {
    padding: 10px 0 0 0;
    align-items: center; }
    .stands-block-wrapper .icon-block {
      width: 500px; }
    .stands-block-wrapper .description-block {
      padding-top: 15px;
      width: 430px; }
      .stands-block-wrapper .description-block p {
        margin: 10px 0 10px 0;
        text-align: center; }

  .why-us-block__header p {
    text-align: center; }

  .why-us-block__content .services-list ul li {
    font-size: 16px; }

  .footer__content {
    justify-content: space-around;
    flex-wrap: wrap; }

  .laser-cards-block {
    padding: 20px 10px; }

  .craft-acrylic-block__content {
    padding: 0 10px; }
    .craft-acrylic-block__content h3 {
      font-size: 30px; }
    .craft-acrylic-block__content p {
      font-size: 20px; }

  .craft-acrylic-block__logo img {
    width: 290px;
    height: 290px; }

  .craft-acrylic-block {
    padding: 30px 0; }

  .no-mobile-portfolio {
    display: none; } }
@media (max-width: 1023px) {
  .container {
    width: auto; }

  .why-us-block__header p {
    text-align: center; }

  .services-list-desktop {
    display: none; }

  .why-us-block__content {
    display: flex;
    margin-top: 30px; }
    .why-us-block__content .services-list {
      width: 100%;
      display: block; }
      .why-us-block__content .services-list ul {
        display: flex;
        flex-direction: column;
        padding-right: 0; }
      .why-us-block__content .services-list ul li {
        text-align: center; }
    .why-us-block__content .services-content {
      display: none;
      width: 100%; }
      .why-us-block__content .services-content p {
        margin: 35px 0 35px 0; }

  .akk-menu-item {
    padding: 25px 0 25px 0; }

  .akk-menu-content {
    list-style: none;
    position: initial;
    width: 100%;
    padding: 5px; }
    .akk-menu-content img {
      width: 100%; }
    .akk-menu-content p {
      margin: 15px 0 10px 0;
      text-align: center; }

  .laser-top-banner__wrapper {
    background: #f7f7f7;
    height: initial; }

  .laser-banner-logo {
    display: block; }

  .laser-top-banner h3 {
    width: 80%; }
  .laser-top-banner p {
    width: 80%; }
    .laser-top-banner p img {
      width: 23px;
      height: 16px; }

  .recunstruction-wrapper {
    display: none; }

  .recunstruction-mobile-wrapper {
    display: block;
    margin-bottom: 80px; }

  .reconstruction-mobile__content h3 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .reconstruction-mobile__content img {
    width: initial; }

  .questions-contact__content-contacts {
    width: 55%; }
    .questions-contact__content-contacts .button {
      margin-top: 20px; } }
@media (max-width: 900px) {
  .stands-block-wrapper {
    padding: 10px 0 0 0;
    flex-direction: column;
    align-items: center; }
    .stands-block-wrapper .description-block p {
      margin: 10px 0 10px 0;
      text-align: center; }

  .services-block-wrapper {
    background: url(img/services/services-background.png) 2% no-repeat;
    background-size: cover;
    margin-top: -20px;
    padding: 50px 0 20px 0; }
    .services-block-wrapper .services-block {
      width: auto; }
      .services-block-wrapper .services-block h2 {
        width: 320px;
        font-size: 30px; }

  .why-us-block__header p {
    text-align: center; }
  .why-us-block__header .services-list-desktop {
    display: none; }
  .why-us-block__header .why-us-block__content {
    display: flex;
    margin-top: 30px; }
    .why-us-block__header .why-us-block__content .services-list {
      width: 100%; }
      .why-us-block__header .why-us-block__content .services-list ul {
        display: flex;
        flex-direction: column;
        padding-right: 0; }
      .why-us-block__header .why-us-block__content .services-list ul li {
        text-align: center; }
    .why-us-block__header .why-us-block__content .services-content {
      display: none;
      width: 100%; }
      .why-us-block__header .why-us-block__content .services-content p {
        margin: 35px 0 35px 0; }
  .why-us-block__header .akk-menu-item {
    padding: 25px 0 25px 0; }
  .why-us-block__header .akk-menu-content {
    list-style: none;
    position: initial;
    width: 100%;
    padding: 5px; }
    .why-us-block__header .akk-menu-content img {
      width: 100%; }
    .why-us-block__header .akk-menu-content p {
      margin: 15px 0 10px 0;
      text-align: center; }

  .laser-cards-block {
    padding: 0 10px 30px 10px;
    justify-content: space-around; }

  .card-laser {
    flex-basis: 180px; }
    .card-laser .card-laser-button {
      padding: 10px 30px;
      font-size: 9px; }

  .quality-video-block {
    padding: 80px 20px 80px 20px; }

  .laser-price-block-wrapper {
    padding: 20px 0 40px 0;
    background-color: #ebebeb; }

  .laser-price-block {
    color: #6f0d33;
    text-align: center; }
    .laser-price-block h2 {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center; }
    .laser-price-block ul {
      list-style: none;
      margin: 10px 0 35px 0; }
      .laser-price-block ul li {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px; }
        .laser-price-block ul li span {
          font-weight: bold;
          font-size: 20px; }
    .laser-price-block a {
      text-align: center;
      padding-right: 20px;
      padding-left: 20px; }

  .acryl-cutting-block__wrapper {
    min-height: initial;
    background: none;
    margin-top: 25px; }

  .cutting-acrylic-logo {
    display: block;
    margin: 0 auto; }

  .acryl-cutting-block__content {
    padding: 35px 10px;
    float: none;
    text-align: center; }
    .acryl-cutting-block__content h3 {
      font-size: 30px;
      color: #6f0d33;
      text-transform: uppercase; }
    .acryl-cutting-block__content p {
      font-size: 29px;
      font-weight: 300;
      color: #6f0d33;
      margin-bottom: 50px; }

  .laser-partners-block-wrapper {
    background: #fff; }
    .laser-partners-block-wrapper h3 {
      font-size: 41px;
      font-weight: 500;
      text-transform: uppercase;
      color: #6f0d33;
      text-align: center; }

  main {
    overflow: hidden; }

  .questions-contact__content-contacts {
    width: 55%; }

  .questions-contact__wrapper {
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 80px;
    margin-bottom: 65px;
    position: relative; }
    .questions-contact__wrapper .question-operator {
      display: none; }
    .questions-contact__wrapper .question-operator-mobile {
      display: block;
      position: absolute;
      right: -150px;
      bottom: 0; }

  .questions-contact__content h2 {
    width: 55%; }
  .questions-contact__content p {
    font-size: 15px;
    margin-top: 23px;
    margin-bottom: 36px;
    width: 55%; }
  .questions-contact__content span {
    font-size: 39px;
    font-weight: 500;
    margin-right: 25px; }

  .questions-contact__content-contacts h4 {
    font-size: 24px; } }
@media (max-width: 782px) {
  body.admin-bar .top-menu-mobile {
    top: -46px;
    padding-top: 102px; }
  body.admin-bar .main-header {
    position: fixed;
    width: 100%;
    top: 46px; }

  .laser-cards-block {
    padding: 0 10px 30px 10px; }

  .quality-video-block {
    padding: 100px 20px 120px 20px; }
    .quality-video-block h3 {
      color: #fffefe;
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center; }
    .quality-video-block ul li {
      color: #fff;
      font-size: 16px;
      margin-top: 30px; }

  .craft-acrylic-block__logo {
    display: none; }

  .craft-acrylic-block__logo-mobile {
    display: flex;
    margin: 25px 0; }
    .craft-acrylic-block__logo-mobile img {
      width: 214px; }

  .craft-acrylic-block__content {
    padding: 0 10px;
    text-align: center; }
    .craft-acrylic-block__content h3 {
      margin-top: 0;
      text-align: center; }
    .craft-acrylic-block__content p {
      margin: 25px 0 40px 0;
      font-size: 24px;
      color: #6f0d33;
      text-align: center; }

  .wood-cutting-block__wrapper {
    height: initial;
    background: none; }

  .cutting-wood-logo {
    display: block;
    width: 100%; }

  .wood-cutting-block__content {
    width: auto;
    padding: 30px 40px 40px 40px;
    text-align: center; }
    .wood-cutting-block__content h3 {
      font-size: 30px;
      text-transform: uppercase;
      color: #6f0d33;
      margin-bottom: 50px; }

  .montage-block__content {
    padding: 34px 0 40px 20px;
    width: 100%; }
    .montage-block__content h3 {
      font-size: 81px;
      text-transform: uppercase;
      color: #fff; }
    .montage-block__content p {
      color: #fff;
      font-size: 26px; }

  .laser-partners-block-wrapper {
    padding: 15px 10px; }
    .laser-partners-block-wrapper h3 {
      font-size: 26px;
      font-weight: 500;
      text-transform: uppercase;
      color: #6f0d33; }

  .feedback-form-page {
    width: 100%;
    margin: 0 auto; }
    .feedback-form-page form {
      padding: 30px;
      border: 1px solid gray; }
      .feedback-form-page form input {
        border: none;
        background-color: #f7f7f7;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        width: 100%; } }
@media (max-width: 520px) {
  .hidden-mobile {
    display: none; }

  .card-craft {
    width: 153px;
    flex-basis: 153px;
    margin-top: 10px; }
    .card-craft a img {
      width: 100%; }
    .card-craft a h3 {
      font-size: 11px; }

  .stands-block-wrapper {
    padding: 0; }
    .stands-block-wrapper .icon-block {
      width: 300px;
      padding-bottom: 0; }
    .stands-block-wrapper .description-block {
      width: 300px;
      flex-basis: initial;
      padding: 0; }
      .stands-block-wrapper .description-block h2 {
        font-size: 24px; }
      .stands-block-wrapper .description-block p {
        font-size: 12px; }

  .services-block-wrapper {
    background: url(img/services/services-background.png) 2% no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 20px;
    margin-top: -10px; }
    .services-block-wrapper .services-block {
      width: auto; }
      .services-block-wrapper .services-block h2 {
        text-align: center;
        font-size: 24px;
        width: 320px; }
      .services-block-wrapper .services-block h3 {
        font-size: 12px;
        text-align: center;
        padding: 0 5px; }
      .services-block-wrapper .services-block .icon-cards {
        justify-content: center; }
        .services-block-wrapper .services-block .icon-cards .card {
          width: 145px;
          flex-basis: 145px;
          margin: 30px 20px 0 0; }
          .services-block-wrapper .services-block .icon-cards .card .icon {
            width: 70px;
            height: 70px; }
            .services-block-wrapper .services-block .icon-cards .card .icon img {
              width: 50%;
              height: 50%; }
          .services-block-wrapper .services-block .icon-cards .card h4 {
            font-size: 12px; }
          .services-block-wrapper .services-block .icon-cards .card p {
            font-size: 10px; }

  .why-us-block-wrapper {
    padding: 15px 0; }

  .why-us-block__header h2 {
    font-size: 24px;
    padding: 0 40px; }
  .why-us-block__header p {
    font-size: 12px;
    font-weight: 300; }

  .why-us-block__content {
    margin-top: 0; }
    .why-us-block__content .services-list ul li {
      font-size: 12px; }
    .why-us-block__content .services-list .akk-menu-item {
      padding: 15px 0; }
    .why-us-block__content .services-list .akk-menu-content {
      padding: 0 5px; }
      .why-us-block__content .services-list .akk-menu-content img {
        margin-top: 5px; }
      .why-us-block__content .services-list .akk-menu-content p {
        font-size: 12px; }

  .three-steps-block {
    padding: 15px 0 15px 0; }
    .three-steps-block h2 {
      font-size: 24px; }
      .three-steps-block h2 span {
        font-size: 24px; }

  .three-steps-block__content {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center; }
    .three-steps-block__content .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      flex-basis: 100px;
      padding: 0 5px 0 5px; }
      .three-steps-block__content .card .thumbnail {
        width: initial;
        height: initial;
        border-radius: initial;
        overflow: hidden; }
        .three-steps-block__content .card .thumbnail img {
          width: 100%; }
      .three-steps-block__content .card h3 {
        margin-top: 10px;
        font-size: 13px;
        font-weight: 400;
        text-align: center; }
      .three-steps-block__content .card h4 {
        margin-top: 12px; }
      .three-steps-block__content .card p {
        margin-top: 15px;
        font-size: 10px;
        text-align: center; }

  .portfolio-block-wrapper {
    padding: 15px 0; }

  .portfolio-block__header h2 {
    font-size: 24px; }
  .portfolio-block__header p {
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 12px; }

  .portfolio-block__content .content-big a {
    width: 50%;
    flex-basis: 50%; }
    .portfolio-block__content .content-big a:nth-child(2n+2) {
      margin-right: 0; }
    .portfolio-block__content .content-big a img {
      width: 100%; }
  .portfolio-block__content .content-small a {
    width: 25%;
    flex-basis: 25%; }
    .portfolio-block__content .content-small a:nth-child(4n+4) {
      margin-right: 0; }
    .portfolio-block__content .content-small a img {
      width: 100%; }

  .montage-block__content {
    padding: 34px 0 40px 20px;
    width: 100%; }
    .montage-block__content h3 {
      font-size: 41px;
      text-transform: uppercase;
      color: #fff; }
    .montage-block__content p {
      color: #fff;
      font-size: 13px; }

  .laser-portfolio-block-wrapper {
    padding: 10px 0 35px 0; }

  .laser-portfolio-block__header h2 {
    font-size: 24px; }
  .laser-portfolio-block__header p {
    margin: 10px 0 15px 0;
    text-align: center;
    padding: 0 5px; }

  .footer__content {
    display: none; }

  .footer_content_mobile {
    display: flex; }
    .footer_content_mobile .footer-nav {
      flex-basis: 50%;
      margin-top: 25px; }
    .footer_content_mobile .footer-socials {
      margin-top: 25px; }

  main {
    overflow: hidden; }

  .reconstruction-mobile__content img {
    width: 100%; }

  .questions-contact__content-contacts {
    width: 55%; }

  .questions-contact__wrapper {
    padding-top: 40px;
    padding: 0 5px;
    padding-bottom: 50px;
    margin-bottom: 15px; }
    .questions-contact__wrapper .question-operator-mobile {
      display: none; }

  .questions-contact__content h2 {
    width: 100%;
    text-align: center; }
  .questions-contact__content p {
    width: 100%;
    text-align: center; }

  .questions-contact__content-contacts {
    width: 100%;
    flex-direction: column;
    align-items: center; }
    .questions-contact__content-contacts h4 {
      font-size: 30px;
      margin-right: 0; }

  .laser-cards-block {
    padding: 0 10px 30px 10px;
    justify-content: space-around; }

  .card-laser {
    flex-basis: 145px; }

  .laser-flag {
    font-size: 16px; } }
@media (max-width: 360px) {
  .craft-cards-wrapper {
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
