@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
body {
  overflow-x: hidden; }

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 17px; }

.container {
  width: 1140px;
  margin: 0 auto; }

.container-flex {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: inherit; }

@media (max-width: 1170px) {
  .container {
    width: auto; }

  body .craft-cards-wrapper {
    justify-content: space-around; } }
.header {
  height: 90px;
  background-color: #efefef;
  display: flex;
  justify-content: center; }

.header__logo {
  display: flex;
  flex-basis: 185px;
  align-items: center; }

.header__search-bar {
  display: flex;
  flex-basis: 290px;
  width: 1px;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  position: relative; }
  .header__search-bar form {
    width: 100%; }
    .header__search-bar form input {
      width: 100%;
      border: none;
      padding: 10px;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 20px;
      font-size: 9px; }
    .header__search-bar form button {
      position: absolute;
      background-color: #fff;
      border: none;
      right: 20px;
      top: 35px;
      height: 20px;
      cursor: pointer; }
    .header__search-bar form button::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(img/search-icon.svg) center no-repeat;
      position: relative;
      top: 2px; }

.header__phone-wrapper {
  display: flex;
  flex-basis: 200px;
  align-items: center; }
  .header__phone-wrapper .logo {
    width: 10px;
    height: 17px;
    margin-right: 5px; }
  .header__phone-wrapper .arrow {
    width: 12px;
    height: 9px;
    margin-left: 5px; }
  .header__phone-wrapper a {
    color: #000;
    font-weight: bold;
    text-decoration: none; }

.header__email-wrapper {
  display: flex;
  flex-basis: 130px;
  align-items: center; }

.header__address-wrapper {
  display: flex;
  flex-basis: 220px;
  align-items: center;
  color: #111111; }

.nav-wrapper {
  height: 40px;
  background-color: #6f0d33; }
  .nav-wrapper a {
    color: #fff;
    text-decoration: none;
    display: block; }
  .nav-wrapper nav {
    align-items: center;
    height: inherit; }

.top-slider-wrapper {
  height: 500px; }

.craft-cards-wrapper {
  padding: 10px 0 35px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .craft-cards-wrapper a {
    color: #6f0d33;
    text-align: center;
    text-transform: uppercase; }
  .craft-cards-wrapper a h3 {
    margin-top: 10px; }

.card {
  width: 265px;
  flex-basis: 265px;
  margin-top: 25px; }

.pictures-block-wrapper {
  height: 253px;
  background: url("img/pictures-block/banner.png") center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pictures-block-wrapper div {
    width: 247px;
    height: 190px;
    background-color: #fff; }
    .pictures-block-wrapper div h3 {
      color: #6f0d33;
      text-transform: uppercase;
      text-align: center;
      font-size: 17px;
      margin: 30px 0 30px 0; }
    .pictures-block-wrapper div a.button {
      width: 165px;
      height: 44px;
      background-color: #6f0d33;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none; }

.stands-block-wrapper {
  padding: 90px 0 90px 0;
  min-height: 500px;
  display: flex; }
  .stands-block-wrapper .icon-block {
    width: 446px;
    position: relative; }
    .stands-block-wrapper .icon-block img {
      position: absolute;
      width: 540px;
      height: 320px;
      left: -155px;
      top: -20px; }
  .stands-block-wrapper .description-block {
    width: 695px;
    flex-basis: 695px; }
    .stands-block-wrapper .description-block h2 {
      color: #6f0d33;
      font-size: 49px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center; }
    .stands-block-wrapper .description-block p {
      color: #6f0d33;
      margin: 60px 0 60px 0; }
    .stands-block-wrapper .description-block a.button {
      width: 165px;
      height: 44px;
      background-color: #6f0d33;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none; }

.services-block-wrapper {
  background: url("img/services/services-background.png") center no-repeat;
  min-height: 850px;
  padding-top: 130px; }

.services-block {
  width: 85%;
  position: relative; }
  .services-block h2 {
    color: #6f0d33;
    font-size: 49px;
    text-transform: uppercase;
    width: 50%;
    font-weight: 500; }
  .services-block h3 {
    font-weight: 400;
    padding-left: 20px;
    margin-top: 30px; }
  .services-block .logo-copy {
    position: absolute;
    right: -530px;
    bottom: -25px; }
  .services-block .icon-cards {
    display: flex;
    flex-wrap: wrap; }
    .services-block .icon-cards .card {
      width: 245px;
      flex-basis: 245px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 42px 35px 0 0; }
      .services-block .icon-cards .card p {
        font-size: 14px;
        text-align: center; }
      .services-block .icon-cards .card h4 {
        margin: 10px 0 10px 0;
        text-align: center; }
      .services-block .icon-cards .card .icon {
        width: 120px;
        height: 120px;
        background: #6f0d33;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .services-block .icon-cards .card .icon img {
          width: min-content;
          height: min-content; }

.why-us-block-wrapper {
  padding: 50px 0 50px 0; }

.why-us-block {
  min-height: 720px;
  position: relative; }

.why-us-block__header h2 {
  font-size: 49px;
  text-transform: uppercase;
  color: #6f0d33;
  text-align: center;
  font-weight: 500; }
.why-us-block__header p {
  margin: 15px 0 15px 0; }

.why-us-block__content {
  display: flex;
  margin-top: 30px; }
  .why-us-block__content .services-list {
    width: 40%; }
    .why-us-block__content .services-list ul {
      display: flex;
      flex-direction: column;
      padding-right: 30px; }
  .why-us-block__content .services-content {
    display: none;
    width: 60%; }
    .why-us-block__content .services-content p {
      margin: 35px 0 35px 0; }

.akk-menu-item {
  list-style: none;
  text-transform: uppercase;
  padding: 25px 0 25px 30px;
  text-decoration: underline;
  color: #6f0d33;
  cursor: pointer; }

.akk-menu-content {
  list-style: none;
  position: absolute;
  left: 460px;
  top: 120px;
  display: none; }

.show {
  display: block !important; }

.btn-checked {
  background-color: #6f0d33;
  color: #fff !important; }

.three-steps-block-wrapper {
  background-color: #dbd9eb;
  min-height: 530px; }

.three-steps-block {
  padding: 30px 0 30px 0; }
  .three-steps-block h2 {
    font-size: 49px;
    color: #6f0d33;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center; }
    .three-steps-block h2 span {
      font-size: 68px; }

.three-steps-block__content {
  display: flex;
  margin-top: 40px; }
  .three-steps-block__content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-basis: 33%;
    padding: 0 30px 0 30px; }
    .three-steps-block__content .card .thumbnail {
      width: 227px;
      height: 227px;
      border-radius: 120px;
      overflow: hidden; }
    .three-steps-block__content .card h3 {
      margin-top: 20px;
      color: #6f0d33;
      font-size: 30px;
      font-weight: 400;
      text-align: center; }
    .three-steps-block__content .card h4 {
      margin-top: 20px; }
    .three-steps-block__content .card p {
      margin-top: 15px;
      font-size: 14px;
      text-align: center; }

.portfolio-block-wrapper {
  min-height: 770px;
  padding: 45px 0 45px 0;
  display: flex;
  flex-direction: column; }
  .portfolio-block-wrapper a.portfolio-more {
    display: block;
    margin: 20px 0 20px 0;
    color: #000;
    align-self: center; }

.portfolio-block__header h2 {
  font-size: 49px;
  color: #6f0d33;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center; }
.portfolio-block__header p {
  margin: 30px 0 30px 0;
  text-align: center; }

.portfolio-block__content {
  display: flex;
  flex-direction: column; }
  .portfolio-block__content .content-big {
    display: flex;
    justify-content: space-between; }
  .portfolio-block__content .content-small {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }

.our-partners-block-wrapper {
  background-color: #f7f7f7; }

.our-partners-block {
  height: 180px; }
  .our-partners-block .wpsisac-image-slide {
    display: flex;
    align-items: center;
    justify-content: center; }
  .our-partners-block .wpsisac-image-slide-wrap
  img {
    width: auto; }

footer {
  min-height: 290px;
  height: 1px;
  background-color: #474747; }

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0; }
  .footer__content ul li {
    list-style: none;
    padding: 3px 0 0 0; }
  .footer__content a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color: #adadad; }
  .footer__content a:hover {
    color: #fff; }

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #adadad;
  height: 50px;
  color: #adadad;
  text-align: center;
  padding-top: 10px;
  font-size: 14px; }

.footer-socials li a {
  display: flex;
  align-items: center; }
.footer-socials img {
  margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
